<h1>
<center>Stupid Coaching</center>
</h1>

<div id="question" class="border col-6 mx-auto bg-success p-2 text-white bg-opacity-75">
<p><%= @question %></p>
<em class=" ">-You</em>
</div>
<br>

<div id="answer" class="border col-6 mx-auto bg-warning p-2 text-black<> bg-opacity-75">
<p><%= @answer %></p>
<em>-Your coach</em>
</div>

<center>
<a href="/ask">Got back to the question</a>

</center>
